@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
#bill-values input#bill-value, #bill-values input#number-people-value {
  text-align: right;
  background: #f4fafa;
  color: #00494d;
  font-weight: 700;
}
#bill-values #bill {
  width: 100%;
}
#bill-values #bill #bill-cost {
  margin-bottom: 2em;
}
#bill-values #bill #bill-cost #bill-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background: #f4fafa;
}
#bill-values #bill #bill-cost #bill-input-container #img-dollar {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}
#bill-values #bill #bill-cost #bill-input-container #bill-value {
  width: 80%;
  height: 100%;
}
#bill-values #bill #tip-value-list {
  margin-bottom: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(40px, 40px));
  gap: 10px;
  max-height: 400px;
}
#bill-values #bill #tip-value-list .tip-custom #value-custom {
  width: 100%;
  max-height: 40px;
  font-size: 24px;
  font-weight: 700;
}
#bill-values #bill #tip-value-list .tip-select {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00494d;
  color: white;
  cursor: pointer;
}
#bill-values #bill #tip-value-list .tip-select label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  transition: 0.2s;
}
#bill-values #bill #tip-value-list .tip-select input[type=radio] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#bill-values #bill #tip-value-list .tip-select input[id=value-five]:hover + label,
#bill-values #bill #tip-value-list .tip-select input[id=value-five]:checked + label {
  background: #26c0ab;
  color: #00494d;
  border-radius: 5px;
}
#bill-values #bill #tip-value-list .tip-select input[id=value-ten]:hover + label,
#bill-values #bill #tip-value-list .tip-select input[id=value-ten]:checked + label {
  background: #26c0ab;
  color: #00494d;
  border-radius: 5px;
}
#bill-values #bill #tip-value-list .tip-select input[id=value-fifteen]:hover + label,
#bill-values #bill #tip-value-list .tip-select input[id=value-fifteen]:checked + label {
  background: #26c0ab;
  color: #00494d;
  border-radius: 5px;
}
#bill-values #bill #tip-value-list .tip-select input[id=value-twenty-five]:hover + label,
#bill-values #bill #tip-value-list .tip-select input[id=value-twenty-five]:checked + label {
  background: #26c0ab;
  color: #00494d;
  border-radius: 5px;
}
#bill-values #bill #tip-value-list .tip-select input[id=value-fifty]:hover + label,
#bill-values #bill #tip-value-list .tip-select input[id=value-fifty]:checked + label {
  background: #26c0ab;
  color: #00494d;
  border-radius: 5px;
}
#bill-values #bill #tip-value-list .item {
  border-radius: 5px;
}
#bill-values #bill #number-people {
  width: 100%;
  width: 100%;
}
#bill-values #bill #number-people #number-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background: #f4fafa;
}
#bill-values #bill #number-people #number-input-container #img-person {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}
#bill-values #bill #number-people #number-input-container #number-people-value {
  width: 80%;
  height: 100%;
}

#bill-result {
  background: #00494d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 20px;
}
#bill-result #bill-result-body, #bill-result #bill-reset {
  width: 100%;
  height: 100%;
}
#bill-result #bill-result-body #tip-amount, #bill-result #bill-result-body #total-by-person {
  display: flex;
  flex-direction: row;
  align-self: start;
  align-items: center;
  justify-content: space-between;
}
#bill-result #bill-result-body #tip-amount .result-body-title, #bill-result #bill-result-body #total-by-person .result-body-title {
  font-size: 1em;
  color: white;
}
#bill-result #bill-result-body #tip-amount .result-body-title span.gray, #bill-result #bill-result-body #total-by-person .result-body-title span.gray {
  font-size: 0.7em;
  display: block;
  color: #7f9c9f;
}
#bill-result #bill-result-body #tip-amount .output-container, #bill-result #bill-result-body #total-by-person .output-container {
  color: #26c0ab;
  font-size: 3em;
  font-weight: 700;
}
#bill-result #bill-reset {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
}
#bill-result #bill-reset #bill-reset-button {
  height: 30%;
  width: 90%;
  background: #0d686d;
  border: 0;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
#bill-result #bill-reset #bill-reset-button:hover {
  background: #26c0ab;
  color: #00494d;
}

main {
  width: 60%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  background: white;
  padding: 40px;
  border-radius: 20px;
}
main ::placeholder {
  font-family: "Space Mono", monospace, sans-serif;
}
main h2 {
  font-size: 1em;
  color: #7f9c9f;
  margin-bottom: 10px;
}
main #bill-values, main #bill-result {
  width: 50%;
}
main #bill-values#bill-values, main #bill-result#bill-values {
  margin-right: 20px;
}
main #bill-values#bill-result, main #bill-result#bill-result {
  margin-left: 20px;
}

#bill-values input#bill-value, #bill-values input#number-people-value {
  text-align: right;
  background: #f4fafa;
  color: #00494d;
  font-weight: 700;
}
#bill-values #bill {
  width: 100%;
}
#bill-values #bill #bill-cost {
  margin-bottom: 2em;
}
#bill-values #bill #bill-cost #bill-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background: #f4fafa;
}
#bill-values #bill #bill-cost #bill-input-container #img-dollar {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}
#bill-values #bill #bill-cost #bill-input-container #bill-value {
  width: 80%;
  height: 100%;
}
#bill-values #bill #tip-value-list {
  margin-bottom: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(40px, 40px));
  gap: 10px;
  max-height: 400px;
}
#bill-values #bill #tip-value-list .tip-custom #value-custom {
  width: 100%;
  max-height: 40px;
  font-size: 24px;
  font-weight: 700;
}
#bill-values #bill #tip-value-list .tip-select {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00494d;
  color: white;
  cursor: pointer;
}
#bill-values #bill #tip-value-list .tip-select label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  transition: 0.2s;
}
#bill-values #bill #tip-value-list .tip-select input[type=radio] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
#bill-values #bill #tip-value-list .tip-select input[id=value-five]:hover + label,
#bill-values #bill #tip-value-list .tip-select input[id=value-five]:checked + label {
  background: #26c0ab;
  color: #00494d;
  border-radius: 5px;
}
#bill-values #bill #tip-value-list .tip-select input[id=value-ten]:hover + label,
#bill-values #bill #tip-value-list .tip-select input[id=value-ten]:checked + label {
  background: #26c0ab;
  color: #00494d;
  border-radius: 5px;
}
#bill-values #bill #tip-value-list .tip-select input[id=value-fifteen]:hover + label,
#bill-values #bill #tip-value-list .tip-select input[id=value-fifteen]:checked + label {
  background: #26c0ab;
  color: #00494d;
  border-radius: 5px;
}
#bill-values #bill #tip-value-list .tip-select input[id=value-twenty-five]:hover + label,
#bill-values #bill #tip-value-list .tip-select input[id=value-twenty-five]:checked + label {
  background: #26c0ab;
  color: #00494d;
  border-radius: 5px;
}
#bill-values #bill #tip-value-list .tip-select input[id=value-fifty]:hover + label,
#bill-values #bill #tip-value-list .tip-select input[id=value-fifty]:checked + label {
  background: #26c0ab;
  color: #00494d;
  border-radius: 5px;
}
#bill-values #bill #tip-value-list .item {
  border-radius: 5px;
}
#bill-values #bill #number-people {
  width: 100%;
  width: 100%;
}
#bill-values #bill #number-people #number-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background: #f4fafa;
}
#bill-values #bill #number-people #number-input-container #img-person {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}
#bill-values #bill #number-people #number-input-container #number-people-value {
  width: 80%;
  height: 100%;
}

@media screen and (min-width: 280px) and (max-width: 690px) {
  body {
    background: #c5e4e7;
  }

  header {
    font-family: "Space Mono", monospace, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c5e4e7;
    height: 20%;
    padding: 3em 1em;
    letter-spacing: 10px !important;
    color: #00494d !important;
  }

  main {
    width: 100%;
    padding: 40px 20px;
    flex-direction: column;
    border-radius: 25px 25px 0 0;
  }
  main h2 {
    font-size: 1.3em !important;
  }

  #bill-values {
    width: 100% !important;
    margin-right: 0px !important;
    margin-bottom: 2em;
  }

  #bill-result {
    padding: 2em 1.5em !important;
    height: 70% !important;
    margin-left: 0px !important;
    width: 100% !important;
  }
  #bill-result #bill-result-body {
    margin-bottom: 20px;
  }
  #bill-result #bill-result-body #tip-amount {
    margin-bottom: 20px !important;
  }
  #bill-result #tip-amount .result-body-title, #bill-result #total-by-person .result-body-title {
    font-size: 1em !important;
  }
  #bill-result #tip-amount .result-body-title span.gray, #bill-result #total-by-person .result-body-title span.gray {
    font-size: 0.8em !important;
  }
  #bill-result #tip-amount .output-container, #bill-result #total-by-person .output-container {
    font-size: 2em !important;
    font-weight: 700;
  }
  #bill-result #bill-reset {
    height: 30% !important;
  }
  #bill-result #bill-reset #bill-reset-button {
    height: 100%;
    width: 100%;
    background: #26c0ab;
    padding: 0.5em 0 !important;
    font-size: 1.5em;
    font-weight: 700;
    color: #00494d;
    cursor: pointer;
  }

  footer {
    font-family: "Space Mono", monospace, sans-serif;
    height: 10%;
    background: white;
    padding: 10px 0;
  }
}
@media screen and (min-width: 690px) and (max-width: 1240px) {
  body {
    font-family: "Space Mono", monospace, sans-serif;
    background: #c5e4e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    width: 90% !important;
    padding: 20px;
  }

  #tip-amount .result-body-title, #total-by-person .result-body-title {
    font-size: 1em !important;
  }
  #tip-amount .result-body-title span.gray, #total-by-person .result-body-title span.gray {
    font-size: 0.8em !important;
  }
}
@media screen and (min-width: 1240px) {
  body {
    font-family: "Space Mono", monospace, sans-serif;
    background: #c5e4e7;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  letter-spacing: 10px;
  color: #00494d;
}

input {
  padding: 10px;
  outline: none;
  box-shadow: none;
  border: 0;
  background: #f4fafa;
  font-size: 24px;
  /* Hidden arrows for number inputs */
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
input input::-webkit-outer-spin-button,
input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input input[type=number] {
  -moz-appearance: textfield;
}

input:focus:hover:active:active, button:focus:hover:active {
  outline: none;
  box-shadow: none;
  border: 0;
}

/*# sourceMappingURL=index.css.map */
