$reset-button: rgba(13, 104, 109, 1);
$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan-primary: hsl(186, 14%, 43%);
$dark-grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan-primary: hsl(185, 41%, 84%);
$light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);