#bill-values {

    input {

        &#bill-value, &#number-people-value {
            text-align: right;
            background: $light-grayish-cyan;
            color: $very-dark-cyan; 
            font-weight: 700;
        }
        
    }

    #bill {

        width: 100%;

        #bill-cost {

            margin-bottom: 2em;

            #bill-input-container {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                height: 100%;
    
                background: $light-grayish-cyan;

                border-radius: 3px;
                border: 2px solid transparent;
                
                transition: .2s;

                #img-dollar {
                    display: flex;
                    justify-content: center;
                    
                    width: 20%;
                    height: 100%;
                }
    
                #bill-value {
                    width: 80%;
                    height: 100%;
                }
            }

        }
        
        #tip-value-list {

            margin-bottom: 2em;
            width: 100%;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
            grid-template-rows: repeat(auto-fit, minmax(40px, 40px));
            gap: 10px;

            max-height: 400px;   

            .tip-custom {

                #value-custom {
                    text-align: right;
                    width: 100%;
                    max-height: 40px;
                    font-size: 24px;
                    font-weight: 700;  
                    
                    border: 2px solid transparent;

                    transition: .2s;
                    border-radius: 3px;

                    cursor: pointer;
                }
                

            }

            .tip-select {

                display: flex;
                justify-content: center;
                align-items: center;

                background: $very-dark-cyan;
                color: $white;
    
                cursor: pointer;

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    font-size: 24px;
                    font-weight: 700;

                    transition: .2s;
                }

                input[type=radio] {
                    position: fixed;
                    opacity: 0;
                    pointer-events: none;
                }

                input[id="value-five"]:hover + label {
                    background: #9AECDB;
                    color: $very-dark-cyan;
                }
                input[id="value-five"]:checked + label{
                    background: $strong-cyan;
                    color: $very-dark-cyan;
                    border-radius: 5px;
                }
                
                input[id="value-ten"]:hover + label {
                    background: #9AECDB;
                    color: $very-dark-cyan;
                } 
                input[id="value-ten"]:checked + label{
                    background: $strong-cyan;
                    color: $very-dark-cyan;
                    border-radius: 5px;
                }

                input[id="value-fifteen"]:hover + label {
                    background: #9AECDB;
                    color: $very-dark-cyan;
                } 
                input[id="value-fifteen"]:checked + label{
                    background: $strong-cyan;
                    color: $very-dark-cyan;
                    border-radius: 5px;
                }
    
                input[id="value-twenty-five"]:hover + label {
                    background: #9AECDB;
                    color: $very-dark-cyan;
                }
                input[id="value-twenty-five"]:checked + label{
                    background: $strong-cyan;
                    color: $very-dark-cyan;
                    border-radius: 5px;
                }

                input[id="value-fifty"]:hover + label {
                    background: #9AECDB;
                    color: $very-dark-cyan;
                }
                input[id="value-fifty"]:checked + label{
                    background: $strong-cyan;
                    color: $very-dark-cyan;
                    border-radius: 5px;
                }
            }

            .item {
                border-radius: 5px;
            }
        }
        
        #number-people {

            width: 100%;
            
            #input-texts {

                display: flex;
                flex-direction: row;
                justify-content: space-between;

                #cannot-be-zero {
                    color: #ff7979;
                    display: none;

                    transition: .2s;
                }
            }

            #number-input-container {

                display: flex;
                flex-direction: row;
                align-items: center; 
                
                height: 100%;

                background: $light-grayish-cyan;

                border-radius: 3px;
                border: 2px solid transparent;
                
                transition: .2s;

                #img-person {
                    display: flex;
                    justify-content: center;
                    
                    width: 20%;
                    height: 100%;
                }

                #number-people-value {
                    width: 80%;
                    height: 100%;
                }
            }
            width: 100%;

        }
        
    }

}