#bill-values {

    input {

        &#bill-value, &#number-people-value {
            text-align: right;
            background: $light-grayish-cyan;
        }
        
    }

    #bill {

        width: 100%;

        #bill-cost {

            margin-bottom: 2em;

            #bill-input-container {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                height: 100%;
    
                background: $light-grayish-cyan;
    
                #img-dollar {
                    display: flex;
                    justify-content: center;
                    
                    width: 20%;
                    height: 100%;
                }
    
                #bill-value {
    
                    width: 80%;
                    height: 100%;
    
                }
            }

        }
        

        #tip-value-list {

            margin-bottom: 2em;
            width: 100%;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
            grid-template-rows: repeat(auto-fit, minmax(40px, 40px));
            gap: 10px;

            max-height: 400px;

            .tip-custom {

                #value-custom {
                    width: 100%;
                    max-height: 40px;
                    font-size: 18px;
                    font-weight: 700;   
                }
                

            }

            .tip-select {

                display: flex;
                justify-content: center;
                align-items: center;

                background: $very-dark-cyan;
                color: $white;
    
                cursor: pointer;

                label {
                    cursor: pointer;
                }

                input[type=radio] {
                    position: fixed;
                    opacity: 0;
                    pointer-events: none;
                }
    
            }
        }
        
        #number-people {

            width: 100%;

            #number-input-container {

                display: flex;
                flex-direction: row;
                align-items: center; 
                
                height: 100%;

                background: $light-grayish-cyan;

                #img-person {
                    display: flex;
                    justify-content: center;
                    
                    width: 20%;
                    height: 100%;
                }

                #number-people-value {
                    width: 80%;
                    height: 100%;
                }
            }
            width: 100%;

        }
        
    }

}